<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="application/javascript" src="../js/footer.js"></script>
</head>
<body>
<div class="footer-distributed">

    <div class="footer-left">

        <h3>
            <span><img class="logo" src="../img/ride%20sharing.png" alt="logo"></span>
            <span class="brand">Ride My Way</span>
        </h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
        </p>

        <p class="footer-company-name">ride my way &copy;<span id="Year"></span></p>
    </div>

    <div class="footer-right">
        <p>Contact Us</p>
        <form action="#" method="post">
            <input type="text" name="email" placeholder="Email" />
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>
        </form>
    </div>
</div>


</body>
</html>