<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width-device-width">
    <meta name="description" content="A ride sharing platform for all">
    <meta name="keywords" content="ride-sharing, car-pooling,">
    <meta name="author" content="Francis Gitau">
    <title>Ride-my-Way : Welcome</title>

    <link type="text/css" rel="stylesheet" href="../css/style2.css" >
    <link type="text/css" rel="stylesheet" href="../css/nav-bar.css">
    <link type="text/css" rel="stylesheet" href="../css/landing.css">
</head>
<body class="auth-body">
<div class="box header">
    <nav id="navbar" class="sticky">
        <div id="menu" class="menu">
            <a class="sitename" href="#"> Ride My Way</a>
            <a class="left" href="signup.html">sign up</a>
            <a class="left" href="sighnin.html">sign in</a>
        </div>
    </nav>
</div>

    <div class="container" id="showcase">
        <section id="about">
            <div class="container">
                <h1>The Ultimate Ride Sharing Platform</h1>
                <p>
                    <span class="brand">Ride my Way</span> is an amazing ride sharing solution designed just for you.
                    It helps you find car pooling drivers near you join them and have fun.
                </p>
            </div>
        </section>
    </div>
    <div class="container" id="services">
        <section>
            <div class="container">
                <div class="col">
                    <img class="icon" src="../img/driver.png">
                    <h3>For Drivers</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus varius ultricies. Nam ut ultrices nulla. Fusce pharetra magna tellus, nec lacinia mi hendrerit a. Etiam vestibulum mi sit amet purus efficitur, eu ornare orci mollis. Vivamus posuere augue nunc, tempus lacinia orci mattis non. Phasellus eu dolor sit amet ante semper elementum. Proin pharetra imperdiet ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam aliquet mauris vitae orci pellentesque, nec finibus risus iaculis. Pellentesque tempor, mauris in tempor pulvinar, neque tellus feugiat massa, non vulputate metus felis et nisl.
                    </p>

                </div>
                <div class="col">
                    <img class="icon" src="../img/passenger.png">
                    <h3>For Passengers</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus varius ultricies. Nam ut ultrices nulla. Fusce pharetra magna tellus, nec lacinia mi hendrerit a. Etiam vestibulum mi sit amet purus efficitur, eu ornare orci mollis. Vivamus posuere augue nunc, tempus lacinia orci mattis non. Phasellus eu dolor sit amet ante semper elementum. Proin pharetra imperdiet ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam aliquet mauris vitae orci pellentesque, nec finibus risus iaculis. Pellentesque tempor, mauris in tempor pulvinar, neque tellus feugiat massa, non vulputate metus felis et nisl.
                    </p>

                </div>

            </div>
        </section>
    </div>
</body>
</html>